[submodule "foundry/lib/solady"]
	path = foundry/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "foundry/lib/account-abstraction"]
	path = foundry/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "foundry/lib/solmate"]
	path = foundry/lib/solmate
	url = https://github.com/transmissions11/solmate
